* {
  font-family: "Open Sans";
}
body {
  background: linear-gradient(
    90deg,
    rgba(106, 20, 204, 0.053) 0%,
    rgb(208, 223, 253) 100%
  );
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
  min-height: 500px;
  background: white;
  text-align: center;
  margin: 128px auto;
  border-radius: 5px;
}

h1,
h2 {
  margin: 32px 0;
  font-size: 24px;
  align-items: center;
  font-family: monospace;
  font-size: xx-large;
  font-weight: 600;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-button {
  padding: 10px;
  margin: 15px;
  width: 100px;
  border: none;
  border-radius: 10px 10px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(166, 91, 237, 0.938) 0%,
    rgba(49, 17, 233, 0.979) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input {
  padding: 14px 16px;
  border-radius: 6px;
  border: 1px solid hsl(220, 94%, 50%);
  outline: blueviolet;
  width: 330px;
  background: transparent;
  font-size: 17px;
  margin-bottom: 1rem;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todo-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: larger;
  font-weight: 600;
  align-items: center;
  box-shadow: rgba(105, 110, 116, 0.2) 0px 8px 24px;
  margin: 4px auto;
  padding: 13px;
  border-radius: 20px;
  width: 80%;
}
li.todo-row {
  margin-bottom: 15px;
}
.todo-row input {
  margin-right: 10px;
}

/* Dropdown Styling */
.dropdown {
  position: relative;
  display: inline-block;
  text-align: left;
}

.dropdown-list-container {
  transform-origin: top;
  position: absolute;
  padding: 10px 0px;
  right: 0rem;
  margin-top: 2rem;
  border-radius: 0.375rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: white;
}

.dropdown-list-btn {
  background-color: white;
  border: none;
  padding: 10px 30px;
}

.dropdown-list-btn:hover {
  background-color: #eaeaea;
}

.edit-input {
  border: none;
}

.red {
  color: red;
}

.blue {
  color: blue;
}
